.footer
  .footer__menus
    .footer__menus__menu 
      %h1
        job-offerについて
      %ul 
        %li 
          = link_to "会社概要(運営会社)", "#"
        %li 
          = link_to "プライバシーポリシー", "#"
        %li 
          = link_to "job-offer利用規約", "#"
    .footer__menus__menu 
      %h1
        job-offerを見る
      %ul 
        %li 
          = link_to "職種一覧", "#"
    .footer__menus__menu 
      %h1 
        ヘルプ&ガイド
      %ul 
        %li 
          = link_to "job-offerガイド", "#"
        %li 
          = link_to "job-offerロゴガイドライン", "#"
        %li 
          = link_to "お知らせ", "#"
  .footer__logo 
    -# = image_tag "material/logo/logo-white.png",height:"50",with:"200"
  %p © job-offer
